* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;

}

input, textarea {
    border: solid 1px #999;
}

.GooFlow {
    border: #ccc 1px solid;
    background: #F5F5F5;
    font: 0.8em Microsoft Yahei;
    color: #333
}

.GooFlow_head {
    clear: both;
    height: 50px;
    border-bottom: #049ded 3px solid;
}

.GooFlow_head label {
    display: block;
    height: 50px;
    width: 230px;
    float: left;
    overflow: hidden;
    background: #049ded;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 50px;
    text-align: center;
}

.GooFlow_head span {
    float: left;
    height: 50px;
    width: 0;
    margin: 0 3px;
    overflow: hidden;
    border-left: #3892D3 1px solid;

}

.GooFlow_head_btn {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    margin: 10px 0 0 10px;
    border: solid 1px #ddd;
    box-sizing: border-box;
    line-height: 30px;
    outline: none;
    blr: expression(this.onFocus=this.blur());
    transition: all .2s;
}

.GooFlow_head_btn-text {
    width: 100px;
    text-decoration: none;
    font-size: 14px;
    color: #00a0ea;
    text-align: center;

}

.GooFlow_head_btn i {
    display: inline-block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    vertical-align: top;
}

.GooFlow_head_btn:hover {
    border: solid 1px #00a0ea;
    background: #00a0ea
}

.GooFlow_head_btn-text:hover {
    color: #fff;
}

.GooFlow_tool {
    float: left;
    width: 80px;
    background: #373238;
    overflow: hidden;
    clear: left;
}

.GooFlow_tool_div {
    overflow: hidden;
    padding: 2px 10px
}

.GooFlow_tool span {
    height: 0;
    overflow: hidden;
    border-top: #03a0e7 1px solid;
    margin: 10px 0 0 0;
    clear: both;
    display: block;
}

.GooFlow_tool_div a {
    margin-top: 10px;
}

.GooFlow_tool_btn {
    display: block;
    width: 60px;
    height: 60px;
    border: solid 1px #373238;
    background: #373238;
    box-sizing: border-box;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

.GooFlow_tool_btn i {
    display: block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    border: 0
}

.GooFlow_tool_btn:hover {

}

.GooFlow_tool_btn:hover i {

}

.GooFlow_tool_btndown {
    display: block;
    width: 60px;
    height: 60px;
    border: solid 1px #605b61;
    background: #4c474d;
    box-sizing: border-box;
    cursor: default;

    outline: none;
    blr: expression(this.onFocus=this.blur());

}

.GooFlow_tool_btndown i {
    display: block;
    overflow: hidden;
    width: 35px;
    height: 35px;
}

.GooFlow_work {
    float: right;
    margin: 0 3px 3px 0;
    border: #F5F5F5 1px solid;
    position: relative;
    overflow: scroll;
}

.GooFlow_work .GooFlow_work_inner {
    background-image: url(../img/gooflow_blank.jpg);
    position: relative;
    overflow: hidden;
}

.GooFlow_work .GooFlow_work_group {
    cursor: default;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.GooFlow_work text {
    color: #fff
}

.GooFlow_area {
    cursor: default;
    position: absolute;
    overflow: hidden;
}

.GooFlow_area .lock {
    cursor: default;
}

.GooFlow_area .bg {
    cursor: move;
    filter: Alpha(Opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.GooFlow_work .lock .bg {
    cursor: default;
}

.GooFlow_area label {
    cursor: text;
    top: 1px;
    left: 1px;
    position: absolute;
    display: block;
    font-size: 14px;
    text-indent:25px;
    height: 22px;
    line-height: 22px
}

.GooFlow_work .lock label {
    cursor: default;
}

.GooFlow_area i {
    display: block;
    height:22px;
    width: 22px;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer
}

.GooFlow_work .area_red .bg {
    border: 1px solid red;
    background-color: #FF7865
}

.GooFlow_work .area_red label {
    color: red;
    background: url(../img/gooflow_bullet.png) no-repeat 1px 0
}

.GooFlow_work .area_yellow .bg {
    border: 1px solid #CD925A;
    background-color: #FFD564
}

.GooFlow_work .area_yellow label {
    color: #D29408;
    background: url(../img/gooflow_bullet.png) no-repeat  1px -26px;
}

.GooFlow_work .area_blue .bg {
    border: 1px solid #347BB1;
    background-color: #549CDE
}

.GooFlow_work .area_blue label {
    color: #347BB1;
    background: url(../img/gooflow_bullet.png) no-repeat 1px -52px
}

.GooFlow_work .area_green .bg {
    border: 1px solid green;
    background-color: #84CA04
}

.GooFlow_work .area_green label {
    color: green;
    background: url(../img/gooflow_bullet.png) no-repeat 1px -78px
}

.GooFlow_work svg {
    display: block;
    position: absolute
}

.GooFlow_work v\:group {
    position: relative;
    display: block
}

.GooFlow_work v\:group v\:line {
    overflow: visible
}

.GooFlow_work v\:group v\:polyline {
    overflow: visible
}

.GooFlow_work v\:group div {
    cursor: text;
    position: absolute;
    overflow: visible;
    display: inline;
    float: left;
    white-space: nowrap
}

.GooFlow_work .draw {
    color: #ff3300
}

.GooFlow_item {
    position: absolute;
    border: #00a1e2 solid 1px;
    border-radius: 3px;
    background-color: #fff;
}

.GooFlow table {

}

.GooFlow td {
    vertical-align: middle;
    padding: 0;
    cursor: default;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
}

.GooFlow .ico {
    width: 45px;
    cursor: move
}

.GooFlow_tool i {
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden
}

.GooFlow_tool_div a i {
    margin: 15px auto;
}

.GooFlow .item_round {
    border-radius: 50%;
    border: #00a0ea solid 1px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    overflow: visible
}

.GooFlow .item_round table {
    border: none;

    width: 100%;
    height: 100%
}

.GooFlow .item_round .span {
    display: block;
    position: absolute;
    top: 42px;
    left: -30px;
    width: 100px;
    overflow: visible;
    text-align: center;
    padding: 0;
    cursor: default;
    word-wrap: break-word;
    word-break: break-all
}

.GooFlow .item_mix {

    border-color: #F75404;
    color: #F75404
}

.GooFlow div .rs_right {
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -1px;
    height: 100%;
    width: 20px;
    cursor: w-resize
}

.GooFlow div .rs_bottom {
    overflow: hidden;
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 100%;
    height: 6px;
    cursor: n-resize
}

.GooFlow div .rs_rb {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 20px;
    height: 16px;
    overflow: hidden;
    cursor: nw-resize;
    background: url(../img/gooflow_tip.png) no-repeat 0 -35px;
}

.GooFlow div .rs_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/gooflow_tip.png) no-repeat 0 0;
}

.GooFlow .rs_ghost {
    position: absolute;
    display: none;
    overflow: hidden;
    border: #8EA4C1 1px dashed;
    background: #D9E8FB;
    filter: Alpha(Opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 10
}

.GooFlow .item_focus {
    border: #f44a0f 1px solid
}

.GooFlow .item_mark {
    border: #ff3300 1px solid
}

.GooFlow .item_mark td {
    cursor: crosshair
}

.GooFlow textarea {
    position: absolute;
    z-index: 101;
    display: none;
    width: 100px;
    border: #3892D3 1px solid;

    font: 1em Microsoft Yahei;
    overflow-y: visible;

}

.GooFlow .GooFlow_line_oper {
    position: absolute;
    z-index: 100;
    width: 120px;
    height: 35px;
    border: #f75600 2px solid;
    background-color: #fff;

    box-sizing: border-box;

}

.GooFlow .GooFlow_line_mp {
    width: 9px;
    height: 9px;
    filter: Alpha(Opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    background: #333;
    cursor: crosshair
}

.GooFlow .GooFlow_line_move {
    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    z-index: 99;
}

.GooFlow .GooFlow_line_oper i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 4px 0 0 4px;

    cursor: pointer
}

.GooFlow .b_l1 {
    background: url(../img/GooFlow_line_oper.png) no-repeat -3px -3px
}

.GooFlow .b_l2 {
    background: url(../img/GooFlow_line_oper.png) no-repeat -3px -26px
}

.GooFlow .b_l3 {
    background: url(../img/GooFlow_line_oper.png) no-repeat -3px -52px
}

.GooFlow .b_x {
    background: url(../img/GooFlow_line_oper.png) no-repeat -2px -77px;
}

.GooFlow .ico_cursor {
    /* 移动 */
    background: url(../img/gooflow_icon.png) no-repeat -1px -32px
}

.GooFlow .ico_start {
    /* 开始节点 */
    background: url(../img/gooflow_icon.png) no-repeat 0 -64px
}

.GooFlow .ico_end {
    /* 结束节点 */
    background: url(../img/gooflow_icon.png) no-repeat -32px -64px
}

.GooFlow .ico_fork {
    /* 向下箭头 */
    background: url(../img/gooflow_icon.png) no-repeat 0 -98px
}

.GooFlow .ico_join {
    /* 向上箭头 */
    background: url(../img/gooflow_icon.png) no-repeat -229px -64px
}

.GooFlow .ico_direct {
    /* 画线 */
    background: url(../img/gooflow_icon.png) no-repeat -60px -33px
}

.GooFlow .ico_group {
    /* 区块 */
    background: url(../img/gooflow_icon.png) no-repeat -65px -98px
}

.GooFlow .ico_complex {
    /* 小盒子 */
    background: url(../img/gooflow_icon.png) no-repeat -32px -98px;
}

.GooFlow .ico_node {
    /* 设置 */
    background: url(../img/gooflow_icon.png) no-repeat -98px -65px
}

.GooFlow .ico_task {
    /* 小人 */
    background: url(../img/gooflow_icon.png) no-repeat -60px -65px
}

.GooFlow .ico_chat {
    /* 冒泡 */
    background: url(../img/gooflow_icon.png) no-repeat -132px -64px;
}

.GooFlow .ico_state {
    /* 小钟 */
    background: url(../img/gooflow_icon.png) no-repeat -164px -66px
}

.GooFlow .ico_plug {
    /* 拼图 */
    background: url(../img/gooflow_icon.png) no-repeat -198px -64px
}

.GooFlow .ico_menu {
    background: url(../img/gooflow_icon.png) no-repeat 1px -65px
}

.GooFlow .ico_sound {
    background: url(../img/gooflow_icon.png) no-repeat -18px -65px
}

.GooFlow .ico_topo {
    background: url(../img/gooflow_icon.png) no-repeat -117px -45px
}

.GooFlow .ico_open {
    /* 打开 */
    background: url(../img/gooflow_icon.png) no-repeat -31px -2px
}

.GooFlow_head_btn:hover .ico_open {
    background: url(../img/gooflow_icon.png) no-repeat -130px -30px

}

.GooFlow .ico_new {
    /* 新建 */
    background: url(../img/gooflow_icon.png) no-repeat -1px -2px
}

.GooFlow_head_btn:hover .ico_new {
    background: url(../img/gooflow_icon.png) no-repeat -99px -30px

}

.GooFlow .ico_reload {
    /* 刷新*/
    background: url(../img/gooflow_icon.png) no-repeat -135px 0
}

.GooFlow_head_btn:hover .ico_reload {
    background: url(../img/gooflow_icon.png) no-repeat -232px -30px

}

.GooFlow .ico_save {
    /* 保存 */
    background: url(../img/gooflow_icon.png) no-repeat -62px -1px
}

.GooFlow_head_btn:hover .ico_save {
    background: url(../img/gooflow_icon.png) no-repeat -158px -30px

}

.GooFlow .ico_undo {
    /* 撤销 */
    background: url(../img/gooflow_icon.png) no-repeat -90px 0
}

.GooFlow_head_btn:hover .ico_undo {
    background: url(../img/gooflow_icon.png) no-repeat -183px -30px

}

.GooFlow .ico_redo {
    /* 反撤销 */
    background: url(../img/gooflow_icon.png) no-repeat -112px 0
}

.GooFlow_head_btn:hover .ico_redo {
    background: url(../img/gooflow_icon.png) no-repeat -208px -30px

}

.GooFlow .ico_mutiselect {
    /* 标签节点 */
    background: url(../img/gooflow_icon.png) no-repeat -30px -33px;
}

.GooFlow_work i {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    overflow: hidden
}

.modalBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: #fff;
    border-left: solid 1px #ddd;
}

/* CSS modal */
.modalFlow.modal-box {
    position: fixed;
    top: 0;
    right: -710px;
    z-index: 88;
    width: 710px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    background: #fff;
    transition: all 1s;
    box-shadow: #ccc -1px -5px 15px;
    border-left: solid 1px #ccc;
}

.modalFlow.modal-into {
    right: 0;
}

.modalFlow .modal-body {
    height: calc(100% - 100px);
    max-height:  calc(100% - 100px);
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.modalFlow .modal-title {
    height: 37px;
    margin: 0 10px;
    padding: 3px 0 0 20px;
    border-bottom: solid 1px #019fe9;
    box-sizing: border-box;
    font-size: 16px;

    line-height: 37px;

}

.modalFlow .modal-title span {
    font-size: 16px;

}

.modalFlow .modal-title a {
    display: block;
    float: right;
    width: 80px;
    color: #019fe9;
    font-weight: lighter;
    text-align: center;
}

.modalFlow .modal-btn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

.modal-btn a.btn {
    display: inline-block;
    width: 160px;
    height: 40px;
    margin: 0 10px;
    box-sizing: border-box;
    border: solid 1px #019fe9;
    font-size: 14px;
    line-height: 40px;
    background: #019fe9;
    color: #fff;
}

.modalFlow .modal-btn a.btn.btn-alt {
    background: #fff;
    color: #019fe9;
}