@charset "utf-8";
/* CSS header */
*{
	margin:0 auto;
	padding:0;}
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	min-height: 50px;
	background-color: #1d93ed;
}
.header h1 {
	width: 230px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
}
.header-nav {
	display: block;
	float: left;
}
.header-nav li {
	display: block;
	float: left;
}
.header-nav li a {
	display: block;
	width: 150px;
	height: 50px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 14px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	transition: all .2s;
}
.header-nav li:last-child a { border-right: 1px solid rgba(0, 0, 0, 0.1); }

.header-nav li a:hover,
.header-nav li a.on { background: rgba(0, 0, 0, .1); }
/* CSS menu-wgt */
.menu-wgt {
	position: fixed;
	top: 50px;
	left: 0;
	display: block;
	width: 230px;
	height: calc(100% - 50px);
	overflow: hidden;
	box-sizing: border-box;
	background: #222;
	transition: all .5s;
}
.menu-wgt-list {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.menu-wgt-list > li { margin-top: 5px; }
.menu-wgt-one {
	position: relative;
	display: block;
	height: 40px;
	padding-left: 20px;
	border-bottom: solid 1px #555;
	font-weight: bold;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.menu-wgt-one:hover { color: #fff; }
.menu-wgt-two { display: none; }
.menu-wgt-two li {
	position: relative;
	height: 30px;
	line-height: 30px;
}
.menu-wgt-two li a {
	display: block;
	padding-left: 40px;
	font-size: 14px;
	color: #ccc;
	text-decoration: none;
	transition: all .5s;
}
.menu-wgt-two li a:hover{ padding-left:30px;}
.menu-wgt-one-foc .menu-wgt-two { display: block; }
.menu-wgt-two li a.on,
.menu-wgt-two li a:hover { background: #444; }
/* CSS contain */
.contain {
	width: 100%;
	min-height: calc(100% - 50px);
	padding: 50px 20px 20px 250px;
}
.page-title {
	position: relative;
	height: 45px;
	padding: 15px 20px 0 20px;
	border-bottom: solid 1px #e1e1e1;
	font-size: 14px;
	color: #333
}
.page-title .btn {
	position: absolute;
	top: 8px;
	right: 0;
	font-weight: lighter;
}
.panel {
	width: 100%;
	padding-bottom: 10px;
}
.panel-title {
	clear:both;
	height: 30px;
	padding: 10px 0 0 10px;
	font-size: 14px;
	font-weight: lighter;
	color: #333
}
.panel-note {
	padding: 0 10px 5px 10px;
	line-height: 24px;
	color: #666
}
.panel-dom {
	min-height: 20px;
	margin: 15px 15px 0 15px;
}
.panel-title-custom {
	height: 40px;
	padding: 0 0 0 10px;
	line-height: 40px;
	border-bottom: dashed 1px #e1e1e1;
	color: #333
}
.m-t-10 { margin-top: 10px; }
.m-l-20 { margin-left: 20px; }
.m-l-10 { margin-left: 10px; }
.m-lr-5 { margin: 0 5px; }
.p-10 { padding: 10px; }
/* 预览页面 */
.web {
	width: 1200px;
	margin: 0 auto;
}
.title {
	padding:10px 20px 0 20px;
	font-weight:lighter;
	color: #333
}
h2.title {
	height:80px;
	border-bottom: solid 1px #e1e1e1;
	line-height:80px;
	font-size: 28px;
	text-align: center;
}
h3.title {
	height:30px;
	line-height:30px;
	font-size: 16px;

}
#preview-button .btn{ margin:0 5px;}

/* CSS 表格 */
.wgt-table { border-collapse: collapse; }
.wgt-table tr th {
	padding: 5px;
	border: solid 1px #e1e1e1;
	background: #EBF1F6;
	box-sizing: border-box;
	text-align: left;
	line-height: 22px;
font-size: 14px;
	font-weight: lighter;
	color: #666;
}
.wgt-table tr td {
	padding:10px 5px;
	line-height:25px;
	border: solid 1px #e1e1e1;
	box-sizing: border-box;
	color: #666;
		font-size: 14px;
}
/* CSS 按钮 */
.wgt-btn {
	display: block;
	width: 100px;
	height: 30px;
	border: solid 1px #e1e1e1;
	background: #fff;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 12px;
	text-decoration: none;
	color: #0066cc;
	text-align: center;
	line-height: 30px;
	font-weight: lighter;
}
